[2021-04-06 13:31] jasonlimantoro opened #69 "Can't resolve '@cloudinary/base/values/background' in 'packages/web/node_modules/@cloudinary/html'"
## Context
Using it with yarn version 2 workspace.

## How to reproduce
1. Install two dependencies `@cloudinary/base` and `@cloudinary/react` inside a workspace
2. Start your app
3. Error appears.

## More output
[code]

[2021-04-08 15:25] momoip commented on #69
Hi,
Please do a clean install, this issue will be fixed in the next release.
Thanks,
Mo

[2021-04-19 10:14] patrick-tolosa commented on #69
@jasonlimantoro this was fixed in the latest release, please re-open in case you still have difficulties.

Thanks for your input!

[2021-04-19 10:14] #69 closed

[2021-05-19 11:46] bjornharvold opened #82 "Cannot enable prod mode after platform setup"
Began evaluating the new Cloudinary Angular v2. I'm getting this error on my first try.

What could be wrong?

Here are my settings:
[code]

Where cloudinaryCloudName is set to 'traveliko'.

Seeing this in your code:
/**
 * Enables production mode. Added to remove
 * ng reflects from dom.
 */
[code]

[2021-05-19 14:14] eyalktCloudinary commented on #82
Hey @bjornharvold, thanks for reaching out!
I wasn't able to reproduce the issue. Below is an example of using the Cloudinary Angular v2, can you try reproducing the issue on that environment?
https://codesandbox.io/s/151268-angular-js-sdk-20-lazy-loading-lqip-example-ro5vf?file=/src/app/app.component.ts

[2021-05-20 02:23] bjornharvold commented on #82
Can you tell me if CloudinaryModule is required in AppModule always? The
difference in your simple example and mine is that I have created a library
specifically for a component that leverages the new advanced image
component. That way I only include Cloudinary in those lazy loaded modules
that wish to use images. In other words, there “should” be no need to have
CloudinaryModule in AppModule.

Pl

[2021-05-21 00:56] momoip commented on #82
Hi @bjornharvold,
Would you share some more information and examples of what you are planning to do?

[2021-05-21 03:56] bjornharvold commented on #82
I recommend to setup your code the same way ng-bootstrap framework does it. For example, if you want to use their modal feature, there is no need to first define NgBootstrapModule in AppModule. You just include NgbModalModule in the component library you want to use it in and off you go. It keeps the main bundle small.

Similar with Angular v2, there should be no need to define CloudinaryModule in

[2021-05-21 04:00] bjornharvold commented on #82
![Screenshot from 2021-05-21 11-00-00](https://user-images.githubusercontent.com/641791/119080161-c237f180-ba23-11eb-9762-3ea868dc4d62.png)

Attaching an image so you can see how much space Cloudinary v1 takes up in main bundle currently.

[2021-05-21 18:59] momoip commented on #82
Hi @bjornharvold,
Thanks for the details.  We will check it out and let you know once we get some more insights.

[2021-06-18 08:45] snhasani opened #83 "[BUG] Unexpected token 'export' - HtmlImageLayer"
Something is wrong with `htmlImageLayer`. I'm getting this error:

[code]

Node: v12.22.1
yarn: 1.22.10

[code]

You can reproduce it here: https://codesandbox.io/s/cloudinary-react-beta-8-import-bug-feuk9

[2021-06-20 09:17] roeeba commented on #83
Hi @snhasani. As you're using Next, you'll have to use a module transpiler. For example - https://github.com/martpie/next-transpile-modules#readme.

[2021-06-21 06:52] #83 closed

[2021-07-12 12:03] snhasani opened #89 "How does the React SDK v2 support fetch remote images?"
I couldn't find anything about [fetch remote image feature](https://cloudinary.com/documentation/fetch_remote_images) in the v2 code or documents. Did I miss something or it is not available?

[2021-07-12 12:14] eyalktCloudinary commented on #89
Hey @snhasani, sounds like you're looking for the `setStorageType()` method of the `@cloudinary/base` package, which should be installed alongside `@cloudinary/react` (React v2 SDK). You can see an example of using this method [here](https://github.com/cloudinary/cloudinary-js-base/blob/365d9254736ef6d6c7ad0ef216a4d85ff4683401/__TESTS__/unit/url/encoding.test.ts#L67).
Hope this helps:)

[2021-07-12 14:15] #89 closed

[2021-07-12 16:38] Heatmanofurioso opened #90 "@Angular List images by tag"
Is it possible to add the feature to Angular?

[2021-07-13 13:17] wissam-khalili commented on #90
Hey @Heatmanofurioso ,
You could use our Admin API, to get resources by tag
https://cloudinary.com/documentation/admin_api#get_resources_by_tag
You can also return a JSON listing of resources (assets) by tag in your front-end code using the client-side asset lists delivery option. You can find the documentation for the JSON list here: https://cloudinary.com/documentation/advanced_url_delivery_opti

[2021-07-22 11:29] Heatmanofurioso commented on #90
Hey @wissam-khalili. Thanks for answering.

The example that I see in https://cloudinary.com/documentation/advanced_url_delivery_options#client_side_asset_lists
shows no example for Angular, and shows the following example for vanilla JS

[code]

Unfortunately, I'm not able to find a way to list all images by tag using the Angular API.

I should've clarified on my original inquiry that I'm attempt

[2021-07-23 00:22] aditimadan-Cloudinary commented on #90
@Heatmanofurioso I found this code on Cloudinary Angular GitHub repo using list by tags: https://github.com/cloudinary/cloudinary_angular/blob/f0067fe3d6419ae27fb6cabdbbc0a0e634da8f92/projects/angular-cld/samples/photo_album/app/js/model/photo-album.service.ts
Will this work for you?

[2021-07-27 05:22] shoaibsharif opened #91 "getting error Unexpected token 'export'"
I have been getting error about Unexpected token 'export' when I was using @cloudinary/react

[code]

A codesanbox example: [codesanbox](https://codesandbox.io/s/cloudinary-bug-nextjs-oevzl)

[2021-07-27 21:19] aditimadan-Cloudinary commented on #91
@shoaibsharif This issue is very similar to the one here- https://github.com/cloudinary/frontend-frameworks/issues/83 and the solution is to use a module transpiler like https://github.com/martpie/next-transpile-modules#readme.

[2021-08-09 21:38] ethancalvo opened #92 "lodash/clonedeep is not recognized. Did you mean lodash.clonedeep"
Currently have a problem building. Using Rollup, lodash/clonedeep references in source code are not being recognized. However lodash.clonedeep currently work.

[2021-08-10 19:11] momoip commented on #92
HI Ethan,
Would you please provide more details on your flow and what library you are using?
Thanks,
Mo

[2021-08-30 16:47] fcisio opened #93 "[responsive()]: Step is not taken into account"
Hi, I'm using the React SDK and the `responsive()` plugin doesn't seem to work properly for me.

Basically, regardless of the value I input in the plugin (ex: `400`, `[400, 800, 1200]`), the scale that is fetched always matches the parent element.

### What I would expect

- If the step is set to 400, the only scales that can be fetched would be 400, 800, 1200, 1600, ...
- On retina, if the contai

[2021-08-30 22:02] fcisio commented on #93
For the time being, I've created my own plugin based on the original one.
The gist of it is: `element.parentElement.clientWidth * window.devicePixelRatio`

[2021-09-07 20:43] momoip commented on #93
Hi fcisio,
I am checking with my teammates and will get back to you once I get some insights.

[2021-09-07 21:21] fcisio commented on #93
Thanks!
Here's [a gist of my custom plugin](https://gist.github.com/fcisio/a6d2e4002dbc117e8193d0330667874d)  if it can be useful.

It implements:
- using the `devicePixelRatio` to serve appropriately sized images
- using strict (step) sizing at initial to minimize infinite transformations (since it's based on the parent width)
- allow specifying if the image width should be relative to his parent

[2021-09-07 22:21] momoip commented on #93
Thanks fcisio.

[2021-09-09 16:15] momoip commented on #93
Hi fcisio,
We have created an internal ticket to investigate this issue.
Thanks,

[2021-09-09 17:56] canserkanuren opened #95 "Module not found: Can't resolve '@cloudinary/base/actions/delivery'"
Hello all!
I've been trying to use Cloudinary's React SDK with the V2 version. I followed the steps described in the tutorial (https://cloudinary.com/documentation/react2_integration) but, when I install the packages and try to implement the base code to display an image, I got this error when compiling my code:

[code]

Can you guys help me out ?
Thank you

[2021-09-13 16:56] momoip commented on #93
Hi fcisio,
Just to follow up with you that this is the expected behavior and we are looking into improving this feature in the future.
Thanks,

[2021-09-13 22:35] momoip commented on #95
Hi,
Would you share with me your code snippet?
Thanks,
Mo

[2021-09-15 01:00] cesarvarela opened #97 "Incorrect URL Encoding when PublicID contains a GET query"
Hi, we are using the auto-upload feature, and some of the images have query strings on their URL, but because of these URLs being uriencoded by the `AdvancedImage` component, Cloudinary returns a 400 error.

I've tracked the issue down to this line:
https://github.com/cloudinary/js-url-gen/blob/9a3d0a29ea77ddfd6f7181251615f34c2d8a6c5d/src/assets/CloudinaryFile.ts#L282

Maybe there could be an opti

[2021-09-16 00:18] leptians commented on #97
For auto-upload, if URL contains query string, it requires some internal flag to support this.
Can you open a [support portal](https://support.cloudinary.com/hc/en-us/requests/new) along with your cloud name and sample URLS and the team should be able to help you on this.

[2021-09-16 00:19] leptians commented on #97
For auto-upload, query string is not supported by default. Can you open a ticket on [support portal](https://support.cloudinary.com/hc/en-us/requests/new) along with your cloud name and sample origin URL? They should be able to assist you on this.

[2021-09-16 13:48] bjornharvold opened #98 "fix(Angular) - Regression error Unable to build library with a CloudinaryModule dependency"
Error:
[code]

Fails in:
"@cloudinary/angular": "1.0.0-beta.11",
"@cloudinary/base": "1.0.0-beta.4",

This works fine using
"@cloudinary/angular": "1.0.0-beta.8"

Project uses Angular 12.2 with all libraries using Ivy

[2021-09-16 19:57] momoip commented on #98
Hi there,
I'm checking with my teammates but it's nighttime for them now.  Would you share with me a code snippet where the error occurs?
Thanks,
Mo

[2021-09-17 02:15] bjornharvold commented on #98
I imported CloudinaryModule into a Ivy enabled angular library module.

Example
Imports: [CloudinaryModule]

Was working with w beta 8. Stopped working with beta 11.

Cheers,
Bjorn

-----------
*Bjorn Harvold*
*E-mail*: ***@***.***
*U.S. Mobile*: +1-917-494-6357
*Google Voice*: +1-917-934-3912
*Skype*: +1-917-720-3351 / bjornharvold
*Thai Mobile*: +66-85151-0325
*Hong Kong*: +852-8198-8406
*Facebo

[2021-09-17 23:55] cesarvarela commented on #97
That's been done already, and if I build the Cloudinary URL manually, it works. The issue now is, as I point out in the comment above, that the query string is being encoded when using this component (to be more exact, it is the js-gen component)

[2021-09-19 10:24] michalkcloudinay commented on #98
Thanks @bjornharvold, we have opened an internal ticket to look into this issue. We will update here with any new insights.

[2021-09-19 11:26] canserkanuren commented on #95
Hi,
Here's my code snippet to reproduce this error:

[code]

[2021-09-21 16:18] momoip commented on #95
Hi,
Would you please use the latest react release “^1.0.0-beta.11” and let me know if it works.
Thanks,
Mo

[2021-09-21 20:57] canserkanuren commented on #95
Yup it looks like it is ok now.
Thank you!

[2021-09-21 20:57] #95 closed

[2021-09-21 20:58] momoip commented on #95
Hi,
Great.  Am glad it's working now.
Thanks.

[2021-09-22 10:15] michalkcloudinay commented on #97
Hi @cesarvarela, we have opened an internal request to look into this inquiry and will update here with any new insights.

[2021-09-27 10:03] michalkcloudinay commented on #97
Hi @cesarvarela, in order to further investigate, can you please provide us with some examples of URLs that you are using?

[2021-09-28 02:22] cesarvarela commented on #97
Hi, this one for example: https://i.guim.co.uk/img/media/b842211a1295a4f6ab4f58f61b621d2cbb97f0c9/51_146_5103_3062/master/5103.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=06862b8a292693a5520e2aa63f40e810

[2021-09-28 21:07] leptians commented on #97
Thanks for sharing the sample URL, @cesarvarela

[2021-09-30 23:13] momoip commented on #98
We tested with an ivy-enabled angular 12.2 app and did not find any issues.   If this issue still persists, would you share with us a live example?

[2021-10-01 02:39] bjornharvold commented on #98
Did you test with Angular libraries?

Steps:
- Create 2 Angular libraries that are Ivy enabled
- Library 1 depends on Library 2
- Library 2 depends on CloudinaryModule

On October 1, 2021 at 6:13:18 AM, momoip ***@***.***) wrote:

We tested with an ivy-enabled angular 12.2 app and did not find any issues.
If this issue still persists, would you share with us a live example?

—
You are receiving th

[2021-10-01 22:11] momoip commented on #98
Will test and update you.

[2021-10-12 23:24] momoip commented on #98
We are not able to reproduce based on your steps and did not see any issue.  Would you please provide us with a live example?

[2021-10-14 17:59] momoip commented on #98
Would you mind upgrade to v12 and get the latest Cloudinary code and let me know if it resolves your issue?

[2021-10-15 03:34] bjornharvold commented on #98
We are using Angular / CLI v12.2.10 at the moment. I don't see any new releases from Cloudinary in the last 30 days. @cloudinary/angular is still on 1.0.0.beta.11. This looks like a dependency issue on Cloudinary side.

[2021-10-15 13:39] ilan-schemoul opened #99 "Problem with react import"
Hello,
I have an error this is my code :
[code]
I have an error `Uncaught TypeError: Cannot read properties of undefined (reading 'prototype')  _inheritsLoose`
_inheritsLoose is called here (I shortened it for clarity) :
[code]
The problem seems to lie here :
[code]
But React is undefined
This issue is fixed if I download this package and import frontend-frameworks/frameworks/react/src/index I thi

[2021-10-15 14:43] #99 closed, assigned to nobody

[2021-10-15 22:28] fcisio opened #100 "Parallel lazyload() seems to cause drops in performances"
Hi, on my builds I have noticed that when multiple images are requested in parallel, there are pretty significant drops in performances.

I believe this could be fixed by adding new options in the Cloudinary configs.

## Possible solution

Options:
- lazyMode: `parallel`, `sequential`, `hybrid`
- parallelLimit (amount of parallel requests allowed before chunking next sequential)
- sequentialDelay

[2021-10-16 02:12] bjornharvold commented on #98
You can find a way to reproduce here:
https://github.com/bjornharvold/cloudinary-issue-98/tree/master/cloudinary

Here's what I found: You had renamed @cloudinary/base to @cloudinary/url-gen. That fixed this latest error. Will continue testing for the initial error and the reason I created this ticket.

[2021-10-16 02:22] bjornharvold commented on #98
As I changed to using @cloudinary-url-gen@1.1.0 I am now unable to start my app:

[code]

When I downgrade to beta-8 and use @cloudinary/base, I am able to run my app again.

[2021-10-16 02:45] bjornharvold commented on #98
Never mind. I had to change all the import to reflect the new library imports @cloudinary/base -> @cloudinary/url-gen.

[2021-10-16 02:45] #98 closed

[2021-11-06 12:14] ljonya opened #101 "Vite cannot resolve entry for package "@cloudinary/html""
Vite cannot resolve entry for package "@cloudinary/html" because `package.json` specifies:
[code]
but actually there is no "dist" subdirectory in the package.
Like this:
[code]
builds without errors.

[2021-11-08 17:52] patrick-tolosa commented on #101
Thanks @ljonya
Can you please provide a minimal repo that reproduces this issue?

[2021-11-09 15:06] ljonya commented on #101
@patrick-tolosa Here's the repo: https://github.com/ljonya/my-svelte-app
However, the problem is so obvious that the repo is unlikely to help.

[2021-11-09 18:39] cesarvarela opened #102 "React README usage confusing"
Kind of a nitpick but:

- missing Cloudinary import
- the `img` var is declared twice, makes the example hard to follow

edit:
Reading it again, is not clear what the `CloudinaryImage` class is for :thinking:

[2021-11-09 19:10] patrick-tolosa commented on #102
Thanks for your input @cesarvarela. (And not nit-picky at all!)

We are currently working on releasing this package as an official release (and not a beta pre release).
We'll use the input gathered in the beta phase, as well as this input, to ensure we have a more comprehensive, and accurate readme.

We appreciate your feedback and your involvement in this beta

[2021-11-10 13:00] patrick-tolosa commented on #101
Thanks for the additional details.

We're in the middle of finishing the work on this project to release it as an official release, and we might not get to resolving this issue in this beta version.

We'll update this thread in any case once this is resolved (Either by an official release, or a bug fix on this beta version)

[2021-11-12 12:13] Heatmanofurioso commented on #90
Sorry for not answering at the time.
The proposed code worked fine!

[2021-11-12 12:13] #90 closed

[2021-12-06 19:37] GreysonElkins opened #110 "`AdvancedVideo` and `AdvancedImage` are not valid JSX.Elements in React."
Attempting to render either will throw this error:
[code]
This problem is visible in your [live demo](https://codesandbox.io/s/cld-react-plugins-2sd3c?from-embed=&file=/src/index.tsx)

[2021-12-07 14:43] patrick-tolosa commented on #110
Thanks @GreysonElkins - did you encounter this problem outside of the live demo using the latest versions?

if so, can you please share a sample project that reproduces this problem?

[2021-12-07 18:01] GreysonElkins commented on #110
Hi @patrick-tolosa! Yes, I encountered the problem in a typescript react app. I'm glad you asked for the version numbers, I hadn't realized my dependencies were installed in the wrong directory. Moved it and things seem to be working now!

Thanks! 🙃

[2021-12-07 18:01] #110 closed

[2021-12-15 02:39] bjornharvold opened #113 "Deep import warning still an issue with the new @cloudinary/ng package"
Warning when starting [in an Nx environment]

`Entry point '@cloudinary/ng' contains deep imports into '/media/user/external/bamboo/xml-data/build-dir/TRAV-SINMRFB-JOB1/node_modules/@cloudinary/url-gen/assets/CloudinaryImage'. This is probably not a problem, but may cause the compilation of entry points to be out of order`

[2021-12-15 09:29] patrick-tolosa commented on #113
Thanks @bjornharvold , not a real issue, angular does throw these for a while now :
https://github.com/angular/angular/issues/35615

We can't silence these from our side without modifying the import objects (and maybe we will), but there's no harm in this warning.

Leaving this open for future reference and possibly a fix.

[2021-12-17 04:35] ctwheels commented on #101
@patrick-tolosa are there any updates on this? Looking to use it with sveltekit + vite and getting same issue, same fix.

[2021-12-18 19:19] patrick-tolosa commented on #101
No immediate date @ctwheels , the initial release of this package will contain React and Angular, and following releases will include Svelte and Vue.

[2021-12-21 09:23] AlexanderFalkenberg opened #117 "Serve webp docs"
Is there any information on how to serve **WebP** first using the AdvancedImage or AdvancedPicture component?

[2021-12-21 15:51] eyalktCloudinary commented on #117
Hey @AlexanderFalkenberg, thanks for reaching out!
Delivery URLs are built using the `@cloudinary/url-gen` library, which allows you to choose the desired format.
[code]

Here is an example of using the AdvancedImage component in React with the format set to `webp` (modification of [this example](https://cloudinary.com/documentation/react2_image_transformations#plugins)) -
[code]

An important thi

[2022-01-20 03:00] docoder opened #128 "Could not find a declaration file for module '@cloudinary/react'."
Could not find a declaration file for module '@cloudinary/react'

[2022-01-20 11:49] michalkcloudinay commented on #128
@docoder can you please provide more details regarding this issue? Which version of the react SDK are you using? Are you using typescript? Can you provide the steps you followed to install the SDK?

[2022-01-22 07:48] jan-georg commented on #128
I get the same error. Here is the message

[code]

Also the compiler shows the same error on the import statement:

`import { AdvancedImage, lazyload, placeholder } from '@cloudinary/react';`

I did exaclty what the error said and added a new index.d.ts file `/node_modules/@cloudinary/react/index.d.ts` with `declare module '@cloudinary/react';` as content, which solved the problem for me.

I'm no

[2022-01-23 12:19] michalkcloudinay commented on #128
Thanks @jan-georg for providing this information. We have an internal ticket to fix this issue, and we will update here with any new insights.

[2022-02-03 14:04] KevinKreps commented on #93
How could this be expected behaviour? All documentation and guides say it works different. Also makes absolutely no sense regarding transformation billing. Is there any update on this?

[2022-02-03 14:20] patrick-tolosa commented on #93
@KevinKreps would you expect to get a stretched image if your container is larger than the image?

(Say the container is 1000px, but your responsive steps are [200,400,600] - would you expect to get a 600px image stretched to 1000?)

We believe that's undesired, however I'm curious to hear your opinion on this.

I'm also interested in the use case - in what situations would your responsive steps b

[2022-02-03 15:01] KevinKreps commented on #93
@patrick-tolosa Thanks for your superfast reply :)

If my container is 1000px and my steps go to 600px only, then yes, I would expect it to stretch resulting in shitty quality. I would also expect anyone working with steps to consider this case.

For example, if I use [200,400,600] I would make sure that my container sizes are all roughly in that range. If I want to have a more detailed view, I wo

[2022-02-03 16:07] patrick-tolosa commented on #93
That's what I meant when I mentioned "by design", the assumption the plugin makes is that people won't use steps that are far from their container width.
Given your statement, the plugin's behaviour is extremely similar to what you're describing (since as you said, your container is close to [200, 400, 600] anyway).

`useLastStepAsMaxWidth` can be used to create the outcome you described - if you

[2022-02-03 19:17] KevinKreps commented on #93
This would be a great solution!

With this, I mean: Everywhere I was reading about the responsive plugin, steps were mentioned. I expected it to work as stated in the guides. Took me a little while to figure out that it was not implemented, and I didn't understand why it is not implemented.

The reason of using steps is to reduce the variety of possible requests. Different/new transformation reque

[2022-02-03 19:28] patrick-tolosa commented on #93
Thanks @KevinKreps - it's much clearer now!
We will of course update on any progress here, as well if we decide to leave this be.

I get where you're coming from regarding transformation costs - something to keep in mind moving forward.

I'll provide an update when I have more information

[2022-02-04 05:26] bjornharvold commented on #82
What's the update on this? It is still occurring with the latest version: "@cloudinary/ng": "1.0.1".

If I don't import CloudinaryModule in AppModule but choose to import it from a lazy loaded module, I always get this error

<img width="742" alt="Screen Shot 2022-02-04 at 12 21 35 PM" src="https://user-images.githubusercontent.com/641791/152476910-50f2e399-4fa6-4173-bd70-3fcffae1b554.png">

[2022-02-04 17:25] momoip commented on #82
Hi @bjornharvold,
I'm checking with our Dev team and will get back to you.
Sorry for the delay.

[2022-02-07 17:34] momoip commented on #82
Hi @bjornharvold,
Importing the cloudinary module from the appModule is still required. We're planning in the future to examine his request however we currently don't have an ETA for this.

[2022-02-09 11:02] #128 closed

[2022-02-09 11:39] patrick-tolosa commented on #101
We've merged fix to this issue and we'll release a patch in the next few days.

[2022-02-10 23:09] patrick-tolosa commented on #100
@fcisio I'm closing this issue due to time elapsed, we've released an official version a while ago, if this is still an issue please open a new issue.

[2022-02-10 23:09] #100 closed

[2022-02-10 23:10] patrick-tolosa commented on #102
Closing this issue as it should not longer be relevant after the initial release.
Please open a new issue if you still find it relevant.

[2022-02-10 23:10] #102 closed

[2022-02-10 23:11] patrick-tolosa commented on #117
Closing this issue as it was answered, if you have further questions please feel free to open a new issue.

[2022-02-10 23:11] #117 closed

[2022-02-12 04:50] codercatdev opened #134 "Argument of type 'string' is not assignable to parameter of type 'CompassQualifier'.ts(2345)"
#### For which package is this issue?
`@cloudinary/url-gen`

#### Describe the issue in a sentence or two

Typescript throwing error on `compass("south_east")`.

#### Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[ ] Performance - Performance issues
[ ] Behaviour - Functions aren’t working as expected
[ ] Documentation - Inconsistency between the docs and behaviour
[x] I

[2022-02-12 12:02] aleksandar-cloudinary commented on #134
Hi @ajonp - Could you add the below two import lines (if you haven't already):

[code]

And then replace `compass("south_east")` with `compass(southEast())`?

[2022-02-12 19:54] #134 closed

[2022-02-12 19:54] codercatdev commented on #134
Bingo thanks for the advice!

On Sat, Feb 12, 2022 at 7:03 AM Aleksandar Kostadinov <
***@***.***> wrote:

--
Thank You,
Alex Patterson Need to meet? Book a time: https://calendly.com/codingcatdev

🌎CodingCat.dev <https://codingcat.dev> || 🎥 YouTube
<https://link.ajonp.com/youtube> || 🐦 Twitter
<https://twitter.com/CodingCatDev> || 📷 Instagram
<https://www.instagram.com/codingcat.dev/>

[2022-02-13 11:03] strausr commented on #101
@ljonya a fix for this issue was released:) Please let us know if you encounter any other issues.

[2022-02-14 13:08] patrick-tolosa commented on #97
Fixed in https://github.com/cloudinary/js-url-gen/pull/483

(Notice that frontend frameworks is not responsible for generating the analytics, instead it's the responsibility of url-gen)

[2022-02-14 13:08] #97 closed

[2022-02-14 13:57] patrick-tolosa commented on #134
Fixed in #516

[2022-02-17 11:39] michalkcloudinay commented on #128
@jan-georg @docoder, this issue is fixed in the latest release ( version 1.1.0 ).

[2022-02-23 20:52] nixallover opened #137 "Adding @cloudinary/ng package removes ng-reflect-* attributes"
### New issue for cloudinary/frontend-frameworks
Before proceeding, please update to the latest version and test if the issue persists

#### For which package is this issue?
@cloudinary/ng

#### Describe the issue in a sentence or two.
After I add the @cloudinary/ng package, the `ng-reflect-*` attributes throughout my client application are removed. It looks like the behavior probably originates f

[2022-02-25 20:35] momoip commented on #137
Hi @nixallover,
We are checking right now; we will keep you posted on any insights.
Thanks

[2022-02-25 20:58] nixallover commented on #137
Awesome, thank you! Let me know if I can provide any more info.

[2022-02-25 21:12] momoip commented on #137
Sure, no problem.

[2022-03-08 20:51] ctwheels commented on #101
@patrick-tolosa this issue still exists for `@cloudinary/html`.
If you look at the changes that were made, only the React package was updated: https://github.com/cloudinary/frontend-frameworks/pull/131/files
The changes were not made for the html package (which affects Vite, Svelte, and other frameworks).

[2022-03-13 07:28] strausr commented on #101
@ctwheels please see the latest release.

[2022-03-13 07:28] #101 closed

[2022-03-22 02:01] ctwheels commented on #101
@strausr thank you - I do see that it's now updated. I'm getting the following error now though. Any idea how to resolve this?
![image](https://user-images.githubusercontent.com/22241390/159392253-40269208-9a07-4d6f-8075-ed8fa3525861.png)

[2022-03-22 06:35] strausr commented on #101
@ctwheels Thanks for the update. I'm unable to reproduce this on my end. Can you please share with me the reproduction steps?

Could you also provide the versions of the Cloudinary packages you're using?

[2022-03-22 17:04] ctwheels commented on #101
@strausr I have a sample here: https://github.com/ctwheels/cloudinary-html-vite-issue
It's a sveltekit project I just initialized and setup as a small sample of my existing project.
I'm using pnpm and netlify but use any package manager/utility and you get the same error.

Using @cloudinary/html version 1.2.0 and can confirm the links are updated (no longer have _dist_ in them).

[This line](https

[2022-03-23 07:59] strausr commented on #101
@ctwheels Thank you for the information we can indeed see the issue. We'll work on fix and update here on this thread once it is resolved.

[2022-03-28 06:23] strausr commented on #101
@ctwheels Please see the latest release

[2022-03-30 16:19] ctwheels commented on #101
@strausr still getting same error on v1.2.2.

`ERROR: [plugin: vite:dep-scan] Failed to resolve entry for package "@cloudinary/html". The package may have incorrect main/module/exports specified in its package.json: Failed to resolve entry for package "@cloudinary/html". The package may have incorrect main/module/exports specified in its package.json.`

[2022-03-30 23:23] nixallover commented on #137
Oh, that's great news, thanks @momoip! I'll keep an eye out for the update 🎉

[2022-03-30 23:25] momoip commented on #137
Sure.  I'll let you know once I hear back from our Dev team.  Thanks for the patience.

[2022-04-03 07:36] strausr commented on #101
@ctwheels Thanks for the informarion. We'll take a look and update you with our findings

[2022-04-11 05:01] strausr commented on #137
@nixallover Please see the latest release:)

[2022-04-11 05:01] #137 closed

[2022-04-11 16:34] momoip commented on #137
HI @nixallover
Let us know if you have further questions about the release.

[2022-04-25 05:52] bjornharvold commented on #82
This is now working as it should. There is no need to import CloudinaryModule in AppModule to get it to work.

[2022-04-25 05:52] #82 closed

[2022-06-19 10:14] indraraj26 opened #149 "Cannot read properties of null (reading 'toURL') for cloudinary/ng"
### New issue for cloudinary/frontend-frameworks
Before proceeding, please update to the latest version and test if the issue persists

#### For which package is this issue?
 "@cloudinary/ng": "^1.4.1",
"@cloudinary/url-gen": "^1.8.0",

#### Describe the issue in a sentence or two.
I have created pipe which is asynchronous getting key from X server then perform getImage.
This is how I am using in

[2022-06-20 05:18] thomasgurung-cloudinary commented on #149
Hi there, thanks for reaching out. Could you please send us the full code of your project if possible? Alternatively, you could upload your code to codesandbox.io (or something similar) and send us the link so that we can replicate it? Thx!

[2022-06-20 05:32] indraraj26 commented on #149
Thanks for quick reply.

I was trying to reproduce this but in stackblitz, I am having error that 'CloudinaryModule' does not appear to be an NgModule class.

[stackblitz](https://stackblitz.com/edit/angular-ivy-eee3nf?file=src%2Fapp%2Fcloudinary-image.pipe.ts,src%2Fapp%2Fapp.module.ts,src%2Fapp%2Fapp.component.html,src%2Fapp%2Fhello.component.ts)

[2022-06-21 05:38] rebeccapeltz commented on #149
Thanks, we're looking into this and will get back to you.

[2022-06-21 15:49] rebeccapeltz commented on #149
The error you saw, 'Cloudinary Module was not a module' was caused by Stackblitz.  We have a code sandbox with Cloudinary modules loaded here: https://codesandbox.io/s/wonderful-khorana-0r97l8  using codesandbox.io instead of stackblitz.
Could you fork this sandbox and add your pipeline code to it so we can see if there are errors?

[2022-06-22 14:38] rebeccapeltz commented on #149
Currently, we only support passing in a CloudinaryImage instance to the AdvancedImage component.  If you want to use Angular pipes to create your URL string, you can pass it to the HTML image element: `<img src="{{path | cloudinaryGetImage | async}}" />`.

[2022-06-22 15:54] indraraj26 commented on #149
Indeed that fixes the error. I was not aware of that we can able to load url in img html element too. Also It is not mentioned on docs. We should add it.

Thank you @rebeccapeltz :)

[2022-06-22 15:54] #149 closed

[2022-06-26 07:16] patrick-tolosa commented on #113
@indraraj26 It sounds like something that needs to be added to the installing project, and not the SDK itself.

In that case you could probably do that without any worries.

[2022-06-26 07:25] indraraj26 commented on #113
but each time you will install the @cloudinary/ng or any team member, They will have to modify node_modules/@cloudinary package.

It should be done at package level [here](https://github.com/cloudinary/frontend-frameworks/tree/master/packages/angular/projects/cloudinary-library), You will have to create ngcc.config.js and add the ignore pattern

[2022-06-26 07:26] patrick-tolosa commented on #113
Thanks @indraraj26, if you can offer a PR we'll gladly go over it.

[2022-06-26 07:27] indraraj26 commented on #113
Sure Thank you :) @patrick-tolosa

[2022-07-22 04:52] irasanchez opened #154 "New issue for cloudinary/frontend-frameworks"
### New issue for cloudinary/frontend-frameworks
Before proceeding, please update to the latest version and test if the issue persists

#### For which package is this issue?
latest cloudinary react readme

#### Describe the issue in a sentence or two.
I went to GitHub while researching an error I got and noticed that the README has some syntax errors, but I am also not experienced enough with this

[2022-07-22 10:18] dannyv-cloudinary commented on #154
Hey @irasanchez.

Thank you for raising this with us. As you'll see above, I've raised a PR to address this which should hopefully be reviewed soon.

Thanks,
-Danny

[2022-07-29 02:00] bjornharvold opened #161 "@cloudinary/ng@1.4.1" has incorrect peer dependency "@angular/common@^10.0.0 || ^11.0.0 || ^12.0.0"."
### New issue for cloudinary/frontend-frameworks
Before proceeding, please update to the latest version and test if the issue persists

#### For which package is this issue?
@cloudinary/ng

#### Describe the issue in a sentence or two.
Bump peer dependencies

[2022-07-31 10:34] michalkcloudinay commented on #161
Hi @bjornharvold,

Thanks for reporting this.
We will release a new version with a fix for this. I will keep you posted on this thread.

[2022-08-01 12:20] astanb opened #163 "Does responsive plugin work as it should in React SDK?"
#### For which package is this issue?
React

#### Describe the issue in a sentence or two.
Using the responsive plugin, the original image also loads, making the plugin redundant. I'm not sure if I've completely missed the point of a responsive plugin, but it seems like it's not working like it should. If I have a massive image that I want to load on a small screen, the responsive plugin should on

[2022-08-01 13:55] PixelCook commented on #163
Alex if you add steps as a parameter to the responsive plugin do you still have the same issues?

Here is a sandbox to reference:
https://codesandbox.io/s/fragrant-cdn-trr63y?file=/src/App.js

[2022-08-03 02:01] Ryders commented on #161
@michalkcloudinay Thanks for being on top of this. I'm afraid I don't understand dependencies and versions well enough to comment, here, however is this related?

ng build

Processing legacy "View Engine" libraries:
- @cloudinary/ng [es2015/esm2015] (https://github.com/cloudinary/frontend-frameworks)
Encourage the library authors to publish an Ivy distribution.

[2022-08-03 02:41] bjornharvold commented on #161
Hi @Ryders

You can find this issue reported here: https://github.com/cloudinary/frontend-frameworks/issues/113

[2022-08-09 10:07] michalkcloudinay commented on #161
Hi @bjornharvold, we released a new version of the SDK (1.4.2) with a fix for this issue.
Please let us know if you have any further issues.
Thanks

[2022-08-09 21:26] leahwchang opened #164 "cannot use dpr(auto()) in React component (React SDK)"
**For which package is this issue?**
React

**Describe the issue in a sentence or two.**
Hi, trying to upgrade cloudinary-react to use the updated frontend framework and having some trouble implementing image 'dpr'.

I have a custom reusable react "image" component that utilizes AdvancedImage, and I imported 'dpr' from cloudinary delivery folder. The custom image component has a 'imageDPR' prop an

[2022-08-10 02:48] bjornharvold opened #165 "Create Ivy distribution"
#### For which package is this issue?
@cloudinary/ng

#### Describe the issue in a sentence or two.
Angular >12 warns that Cloudinary module still using View Engine and to contact the module vendor

[code]

#### Issue Type (Can be multiple)
[X] Performance - Performance issues

[2022-08-10 02:49] #161 closed

[2022-08-10 09:15] PixelCook commented on #164
Hey Leah,

setDPR('auto') is now deprecated. The new syntax will be setDPR(devicePixelRatio || 1). A user can use dpr_auto but this has no meaning on the Cloudinary servers.  (The legacy SDK replaces auto with a number, for example dpr_2).

[2022-08-10 12:22] michalkcloudinay commented on #165
Hi @bjornharvold,

We have an internal task for this on our end.

We will keep you posted on any updates.

Thanks

[2022-08-10 21:38] leahwchang commented on #164
Thanks!

[2022-08-10 21:38] #164 closed

[2022-08-15 12:18] redtogin opened #166 "Errors building React app with @cloudinary/url-gen (eg: "export 'RoundCorners' (imported as 'RoundCorners') was not found in '@cloudinary/url-gen/actions/roundCorners' (module has no exports)")"
We have build failures for our React app with these kinds of errors below since yesterday (Aug 15)

Using `"@cloudinary/url-gen": "^1.8.0",`, and clean installed already, and we are not aware of any change on our side in the relevant code.

Do you have any tip on how to fix it? Thanks in advance!

[code]

[2022-08-15 12:21] redtogin commented on #166
Just tried to build with fixing version to 1.8.0 :`"@cloudinary/url-gen": "1.8.0",`and it succeeds.
So it's something in 1.8.1?

[2022-08-15 13:45] maoznir commented on #166
Hi @redtogin, thanks for reporting this issue.
Version 1.8.3 of @cloudinary/url-gen  was released with a fix for this, please let us know if it works for you.

[2022-08-15 17:03] redtogin commented on #166
@maoznir I can't confirm the fix on our side, with ^1.8.0 the build still fails, with 1.8.0 it succeeds.

[2022-08-15 17:35] maoznir commented on #166
@redtogin, can you please share your code?

[2022-08-15 18:37] redtogin commented on #166
Here is the React component in question:

[code]

[2022-08-15 19:45] maoznir commented on #166
Hi @redtogin,
Version 1.8.5 with more fixes published, please let us know if now it works for you.

[2022-08-16 21:53] soryboums opened #167 "Cannot find module '@cloudinary/url-gen' or its corresponding type declarations."
`
"@angular/core": "~14.1.0",
"@cloudinary/ng": "^1.4.2",
 "@cloudinary/url-gen": "^1.8.1",
`

When I add CloudinaryModule in app.modules I am getting the following issues:

Error: node_modules/@cloudinary/html/types.d.ts:2:34 - error TS2307: Cannot find module '@cloudinary/url-gen/actions/transcode/VideoCodecAction' or its corresponding type declarations.

2 import { VideoCodecAction } from "@clo

[2022-08-17 10:28] maoznir commented on #167
Hi @soryboums, thanks for reporting this issue!
I've created an internal ticket for this and we'll update as soon as it's fixed.

[2022-08-17 22:42] leahwchang opened #169 "New issue for cloudinary/frontend-frameworks"
#### For which package is this issue?
React

#### Describe the issue in a sentence or two.
Hi, I have a custom reusable react "image" component that utilizes AdvancedImage. The component takes in a prop 'imageQuality' and it's a string, I have a function that simply chains .quality(imageQuality) to the cloudinary instance, which is then passed to AdvancedImage.

When I console log the tranformed u

[2022-08-18 06:09] maoznir commented on #169
Hi @leahwchang I was not able to reproduce this using the following code.
Maybe your chainQuality() function runs twice ?
could be react related, see here for example:
https://stackoverflow.com/questions/60618844/react-hooks-useeffect-is-called-twice-even-if-an-empty-array-is-used-as-an-ar

[code]

[2022-08-26 15:14] davidleger95 opened #171 "Vue 3 Support"
#### For which package is this issue?
`@cloudinary/vue3`

#### Describe the issue in a sentence or two.

I see that there's a Vue 3 package in this repo but it appears to not be published. Is there a timeline for when we should be able to use Vue 3 components?

[2022-08-28 12:29] michalkcloudinay commented on #171
Hi @davidleger95,

This should be published in the next few weeks.
I will keep you posted on this thread.

[2022-08-29 07:35] devcjohn opened #172 "Allow authentication token to be passed to React components"
For our use case, we would like to generate an authentication token on our Node backend, then pass it to our React frontend to be used with the AdvancedImage react component.

It's a similar as this one from the legacy React package:
https://github.com/cloudinary/cloudinary-react/issues/242

Ideally it would look something like this:
[code]

[2022-08-30 23:47] Ryders commented on #165
Thanks @michalkcloudinay
Looking forward to this, using Angular 14 here. 👍

[2022-08-31 13:10] igy commented on #172
Hi Chuck,

Thanks for contacting us.

We've created a feature request for our SDK team to consider when planning the future roadmap for the SDK.
If there are any updates or if we have an ETA by which this could be added, we'll add a note here with the details.

In the meantime, alternatives for using Access Control are to enable delivery via your own hostname, so the token can be sent in a cookie,

[2022-09-30 11:29] evheniyrz commented on #165
Sorry, but what about updates? Angular 13 ->
`
"@angular/router": "~13.3.5",
"@cloudinary/ng": "^1.5.0",
"@cloudinary/url-gen": "^1.8.6",
`

`npm run dev:ssr`

Processing legacy "View Engine" libraries:
- @cloudinary/ng [es2015/esm2015] (git+https://github.com/cloudinary/frontend-frameworks.git)
Encourage the library authors to publish an Ivy distribution.
Warning: Entry point '@cloudinary/ng' con

[2022-11-08 21:30] ctwheels opened #181 "Uncaught promise TypeError: Cannot read properties of undefined (analyticsOptions)"
#### For which package is this issue?
Current version (1.5.0) and previous versions from 1.0.0 (December 21, 2021)

#### Describe the issue in a sentence or two.
Uncaught exception when not passing analyticsOptions to HtmlImageLayer class constructor. The `analyticsOptions` is optional parameter for the class, but then when the values are assigned, doesn't have a fallback or check if analyticsOpti